:root{
  --text : #212529;
  --light : #EAF7DE;
  --dark : #52B69A; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
.navbar{
  background-color: var(--dark);
  height: 100px;  
}
.navbar-brand{
  color: var(--light);
}
.left-part{
  background-color: var(--light);
  min-height: 100vh;
  padding-right: 0px;
}
.list-group-item{
  background-color: inherit;
  border: none;
  padding: 0.5rem 1rem
}
a,a:hover{
  text-decoration: none;
  color: var(--text);
  text-align: center;
}
.active-item{
  background-color: white;
}
button:focus{
  outline: none;
}
.form-control{
  border-radius: 1.25rem;
  color: var(--text);
}
.form-control:focus{
  box-shadow: none;
  border: 2px solid var(--dark);
}
svg{
  margin: 0px auto;
}
.modal{
  color: var(--text);
}
.modal-body{
  padding: 2rem;
  padding-bottom: 1px;
}
.modal-content{
  background-color: var(--light);
}
.modal-header {
  border-bottom: none;
  background-color: white;
  padding: inherit 1.5rem !important;
}
.close span{
  font-size: 25px;
}
.close,.close:hover,.close:focus-visible{
  color: var(--dark);
  border: none;
}
.modal-footer{
  justify-content: center;
  border-top: none;
}
.label{
  padding-left: 7px;
}
textarea{
  min-height: 210px;
  resize: none;
}
.delete{
  font-size: 18px;
}
.project-heading{
  font-size: 18px;
  font-weight: 600;
}
.new-project{
  margin-bottom: 0px;
}
.delete-icon{
  display: none;
}
.delete-icon:hover{
  display: block;
}
.task-div{
  border-bottom: 1px solid var(--light);
}